html{
    font-size: 16px;
    background-color: black;
}
.whole{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    margin-top: 100px;
    color: aliceblue;
    border: .2rem solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20rem !important;
    height: 15rem;
    background-color: grey;
    border-radius: 1rem;
    box-shadow: 8px 6px 20px 3px #dddddd;
}
button{
    color: aliceblue;
    border: none ;
    border-radius:1rem !important;
    background-color: #08a5d8;
    cursor: pointer;
    width: 70%;
    height: 3em;
    margin-left: 2rem;
}
p.heading{
    font-weight:400;
    padding-left: 2rem;
    font-size: 1.5rem;
}
p.quotes{
    position: relative;
    justify-content: center;
    bottom: 2rem;
    left: 5rem;

}